.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown ul {
  margin: 0;
  padding: 8px;
  list-style: none;

}

.dropdown li {
  /* margin-bottom: 8px; */
  margin: 8px 0;
  cursor: pointer;  

}
