.funeral-detail-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
  height: 100vh;
}

.funeral-detail-container-left {
  position: relative; 
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 50%;
  
  height: 70%;
  text-align: center;
}

.funeral-detail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.funeral-detail-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 15px;
}
.funeral-detail-price{
  margin-bottom: 50px;
  margin-top: 15px;
  line-height: 2.5;
}
.funeral-detail-intro{
margin-bottom: 50px;
}
.funeral-detail-location {
  margin-bottom: 50px;
}
.funeral-detail-link{
margin-bottom: 50px;
}
.funeral-detail-telnumber{
  margin-bottom: 50px;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.funeral-detail-button-container {
  position: absolute;
  text-align: center;
  border: none;
  left: 50%; 
  bottom: 20px; 
  transform: translateX(-50%); 
}
.funeral-detail-button {
  background-color: #a3ada1;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}


.funeral-reviews-container-right {
  height: 90%; 
}

.funeral-reviews-container-right-title {
  margin-bottom: 50px;
  text-align: center; 
  font-size: 30px;
}
