.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #a3ada1;
  height: 450px;
  width: 900px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.title {
  color: #495c45;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.step {
  text-align: center;
  width: calc(33.33% - 20px);
  margin-top: 10px;
}
p{
  font-weight: bold;
  margin-top: 0px;
  font-size: 14px;
}
.img1{
width: 250px;
height: 150px;
border-radius: 10px;
}
.arrow {
margin-bottom: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white; 
  
}