.instructor-contain {
  display: flex;
  justify-content: center;
}

.instrucor-picname {
  display: flex;
  flex-direction: column;
}

.instructor-box {
  display: flex;
  padding: 45px;
}

.instrucor-mainbox {
  height: 290px;
  width: 800px;
  border: solid;
  border-color: #adcaa8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.instrucor-mainbox2 {
  height: 290px;
  width: 800px;

  background-color: #495c45;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.instrucor-mainbox2 span {
  color: white;
}
.instructor-btn-box{
  display: flex;
justify-content: end;


}
.instrunctor-btn{
width: 160px;
height: 40px;
font-weight: bold;
background-color: #adcaa8;
border-radius: 10px;
border: none;
cursor: pointer;
}
.like-button.liked {
  color: red;
}
.like-button {
  font-size: 20px;
  color: #6a6a6a;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.instrucor-mainbox4 {
  height: 290px;
  width: 800px;

  background-color: #adcaa8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.instructor-pic {
  height: 139px;
  width: 123px;
}

.instructor-profile {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.instructor-col {
  display: flex;
  flex-direction: column;
}

.instructor-name {
  padding: 10px;
  font-weight: bold;
}

.instructro-jobn {
  font-weight: bold;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.liked-instructor-list {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
}

.liked-instructor-list ul {
  list-style: none;
  padding: 0;
}

.liked-instructor-list li {
  margin-bottom: 50px;

}

.liked-instructor-list button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border:1px solid #495c45;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.liked-instructor-list button:hover {
  background-color: #495c45;
}
