.loginpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-title{
  margin-bottom: 60px;
  color: #495c45;
  font-size: 40px;
  font-weight: bold;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 150px; 
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 200px;
}

label {
  margin-bottom: 10px;

}

.input-loginpage {
  width: 250px;
  height: 40px;
  border:none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #495c45;
  background-color: #a3ada1;
}

.login-btn {
  font-weight: bold;
  color: white;
  background-color: #495c45;
  border-radius: 10px;
  width: 80px;
  height: 35px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 12px; 
  color: #c0c0c0; 
  font-size: 10px;
}

p a {
  text-decoration: none;
  color: #495c45; 
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 20px;
}

.logo-container img {
  width: 300px;
  height: auto;
}
