.my-search-top {
  background-color: #495c45;
  height: 243px;
  color: white;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.my-search-middle {
  color: #495c45;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
      "My_pet My_pet My_process"
      "My_pet My_pet My_place"
      ". . .";
  margin-top: 30px;
}

.My_pet { grid-area: My_pet; }
.My_process {
  grid-area: My_process;
  height: 240px;
  border: 2px solid rgb(39, 36, 36);
  border-radius: 130px;
}
.My_place { grid-area: My_place; height: 240px; }

.status-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.status-buttons button {
  height: 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.status-buttons button[disabled] {
  color: white;
}

.status-buttons button.review-button {
  height: 25px;
  background-color: #c1d5c0;
  color: #495c45;
  border: 2px solid #495c45;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* MySearch.css */

.review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #495c45;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
}

.review-modal h2 {
  color: #495c45;
}

.review-modal button {
  background-color: #495c45;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
