.title {
  color: #495c45;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.options-container {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.option-box1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  height: 200px;
  background-color: #a3ada1;
  color: #000;
}

.option-box1 p {
  margin: 0;
  color: black;
  font-size: 13px;
}

.option-box1.selected {
  background-color: #495c45;
  color: #fff;
}

.option-box1.selected p {
  color: #fff;
}

.search-img {
  width: 100%;
  height: 170px;
  margin-top: 5px;
  object-fit: cover;
}

.findfuneral-btn {
  color: white;
  background-color: #495c45;
  border-radius: 10px;
  width: 80px;
  height: 35px;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;

}

.date-picker-container1 {
  background-color: #a3ada1;
  margin: 0 30px 0;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.calendar1 {
  border-radius: 10px;
}

.right-container1 {
  background-color: #a3ada1;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 20px;
}
.search-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-container1 {
  text-align: center;
  margin-bottom: 30px;
}
.dropdown1 {
  border-radius: 10px;
  width: 100%;
  max-width: 480px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
label {
  font-size: small;
}
