body,
html {
  margin: 0;
  padding: 0;
}

.startpage {
  height: 100vh;
  width: 100%;
  background-image: url("../../public/img/startpageimgreal.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startpage-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 40px;
}

.startpage-btn {
  width: 200px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #495c45;
  color: white;
  font-weight: bold;
}

.startpage-left {
  color: white;
  padding-right: 750px;
}

.startpage-content {
  padding-bottom: 50px;
}
